

@{
    ViewBag.Title = "Index";
}
<body>
  <a  name="services"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
         
                <div class="clearfix"></div>


                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Aviso
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                   <div>
                                       <center>
                        <h2> Sua solicitação de fechameno manual de ponto foi enviada com sucesso! Favor aguardar a gerência</h2>
                                           </center>
                            </div>
                           

                                </table>
                                  <div>
                                       <center>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Ponto")'">Voltar</button>
</center>
        </div>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
        </div>
    </div>



</body>
