<!DOCTYPE html>

<html>
<head>
<title>Envia </title>
 </head>
<body>
 <div>
     </br>
     </br>
     </br>
     </br>
     </br>
 Mensagem enviada com sucesso .
 </div>
 <div>

 @Html.ActionLink("Voltar para página inicial","AreaRestrita","Usuario")
 </div>
 </body>
 </html>